<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".utils.ActivityManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoungBeliever"
        tools:targetApi="31">
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.QuranActivity"
            android:label="Holy Quran"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.DuasActivity"
            android:label="Duas"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.AzkarActivity"
            android:label="Al-Azkar"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.ArkanEslamActivity"
            android:label="Eslam'sPillar"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.StoriesActivity"
            android:label="Prophets Stories"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.AsmaaAllahHosnaActivity"
            android:label="99 Names of Allah"
            android:parentActivityName=".ui.HomeActivity"/>
    </application>

</manifest>